<div class="form-group row justify-content-center align-items-center">
  <h1>Reservations</h1>
  <div class="offset-1">
    <input class="form-control" type="date" [value]="getCurrentDate()" id="calendar-input">
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Hours</th>
    <th scope="col">Name</th>
    <th scope="col">Telephone</th>
    <th scope="col">Reservation type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reservation of reservations">
    <th scope="row">{{reservation.startTime.substring(0, 5)}} - {{reservation.endTime.substring(0, 5)}}</th>
    <td>{{reservation.name}}</td>
    <td>{{reservation.telephone}}</td>
    <td>{{reservation.reservationType}}</td>
  </tr>
  </tbody>
</table>
<app-add-reservation-dialog [reservations]="reservations"></app-add-reservation-dialog>
