<div class="form-group row justify-content-center align-items-center">
  <h1>Reservations</h1>
  <div class="offset-1">
    <label><input (change)="updateReservations()" [(ngModel)]="date" class="form-control" id="calendar-input"
                  type="date"/></label>
  </div>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Hours</th>
    <th scope="col">Name</th>
    <th scope="col">Telephone</th>
    <th scope="col">Reservation type</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="openDetails(reservation)" *ngFor="let reservation of this.reservations" class="{{reservation.status}}">
    <th scope="row">{{reservation.startTime.substring(0, 5)}} - {{reservation.endTime.substring(0, 5)}}</th>
    <td>{{reservation.name}}</td>
    <td><a href="tel:{{reservation.telephone}}">{{getPhoneNumberWithDashes(reservation.telephone)}}</a></td>
    <td>{{reservation.reservationType | titlecase}}</td>
    <td>{{reservation.status | titlecase}}</td>
  </tr>
  </tbody>
</table>
<app-add-reservation-dialog [date]="date" [reservations]="reservations"></app-add-reservation-dialog>
