<div *ngIf="weatherLoaded | async" class="m-4">
  <h1>Weather</h1> <label>
  <input (change)="updateWeather()" [(ngModel)]="date" type="date"/>
</label> <br/><br/>
  <img alt="Main weather" height="32" src="assets/img/cloud.svg" width="32"/>
  {{weather.descriptionWeather}} <br/>
  <img alt="Sunrise" height="32" src="assets/img/sun.svg" width="32"/>
  {{weather.sunrise.substring(11, 16)}} <br/>
  <img alt="Sunset" height="32" src="assets/img/moon.svg" width="32"/>
  {{weather.sunset.substring(11, 16)}} <br/>
  <img alt="Temp" height="32" src="assets/img/thermometer.svg" width="32"/>
  {{weather.dayTemp}}°C


  <br/><br/>
  <h3>Detailed weather:</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Morning</th>
      <th scope="col">Day</th>
      <th scope="col">Evening</th>
      <th scope="col">Night</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Temperature</th>
      <td>{{ weather.morningTemp }}°C</td>
      <td>{{ weather.dayTemp }}°C</td>
      <td>{{ weather.eveningTemp }}°C</td>
      <td>{{ weather.nightTemp }}°C</td>
    </tr>
    <tr>
      <th scope="row">Temperature feels like</th>
      <td>{{ weather.feelsLikeMorningTemp }}°C</td>
      <td>{{ weather.feelsLikeDayTemp }}°C</td>
      <td>{{ weather.feelsLikeEveningTemp }}°C</td>
      <td>{{ weather.feelsLikeNightTemp }}°C</td>
    </tr>
    </tbody>
  </table>

  Minimal temperature {{ weather.minTemp }}°C <br/>
  Maximal temperature {{ weather.maxTemp }}°C <br/>
  Pressure {{ weather.pressure }} hPa <br/>
  Humidity {{ weather.humidity }}% <br/>
  Wind speed {{ weather.windSpeed }}m/s <br/>
  Wind degree {{ weather.windDeg }}°
  <img alt="Wind direction" height="20" src="assets/img/arrow-up.svg" style="transform: rotate({{weather.windDeg}}deg);"
       width="20"/> <br/>
  Clouds {{ weather.clouds }}% <br/>
  Probability of precipitation {{ weather.pop }}% <br/>

</div>
