<div class="m-5">
  <div *ngIf="!isUserLogged()">
    <h1>Login</h1>
    <form #f="ngForm" name="form">
      <div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label>
          <input #email="ngModel"
                 [(ngModel)]="user.email" name="email"
                 placeholder="Email"
                 required
                 type="text"/></label>
        <div *ngIf="f.submitted
          && !email.valid" class="alert alert-danger">Email is required
        </div>
      </div>
      <div *ngIf="!passwordReset" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label>
          <input #password="ngModel"
                 [(ngModel)]="user.password" name="password"
                 placeholder="Password"
                 required
                 type="password"/></label>
        <div *ngIf="f.submitted
          && !password.valid" class="alert alert-danger">Password is required
        </div>
      </div>
      <div *ngIf="!passwordReset">
        <a (click)="passwordReset = !passwordReset" [routerLink]="">Forgot password?</a> <br/>
        <button (click)="login()" [disabled]="!f.form.valid" class="btn-primary btn">Login</button>
      </div>
      <div *ngIf="passwordReset">
        <button (click)="resetPassword()" [disabled]="!isEmailValid()" class="btn-primary btn">Reset password</button>
      </div>
    </form>
    <br/>
    <app-user-register></app-user-register>
  </div>
  <button (click)="logout()" *ngIf="isUserLogged()" class="btn-primary btn">Logout</button>
</div>
