<div class="card my-5">
  <div class="card-body">
     <label>Search for user
    <input type="text" [(ngModel)]="searchText" />
  </label>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Telephone</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="selectUser(user)" *ngFor="let user of users | userFilter : searchText">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="tel:{{user.phoneNumber}}">{{user.phoneNumber}}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
