<ng-template #content let-modal>
  <div class="modal-body">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add reservation</h4>
      <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br/>

    <form #reservationForm="ngForm">
      <label for="startTime">Start Time</label>
      <input #startTime="ngModel" [(ngModel)]="reservation.startTime" class="form-control" id="startTime"
             name="startTime" required type="time"/>
      <div *ngIf="startTime.pristine" class="alert alert-danger">Start time is required</div>
      <div class="form-group">
        <label for="endTime">End Time</label>
        <input #endTime="ngModel" [(ngModel)]="reservation.endTime" class="form-control" id="endTime" name="endTime"
               placeholder="Enter end time" required type="time"/>
        <div *ngIf="endTime.pristine" class="alert alert-danger">End time is required</div>
      </div>
      <div *ngIf="getTimeDifference() < 0" class="alert alert-danger">End time cannot be earlier than start time</div>
      <div *ngIf="isHoursConflictExists()" class="alert alert-danger">Requested time is already reserved</div>
      <div *ngIf="getTimeDifference() < 30 && getTimeDifference() >= 0" class="alert alert-danger">Time period cannot be
        less than 30 minutes
      </div>
        <app-user-register></app-user-register>
        <app-user-list (userEvent)="setUser($event)"></app-user-list>
      <p *ngIf="user!==undefined">Selected user: {{user.name}}</p>
      <div *ngIf="user === undefined" class="alert alert-danger">User is required</div>
      <div class="form-group">
        <label> Type of reservation
          <select [(ngModel)]="reservationType" name="reservationType">
            <option *ngFor="let type of reservationTypes">{{type}}</option>
          </select>
        </label>
      </div>
      <div *ngIf="reservationType === undefined" class="alert alert-danger">Type of reservation is required</div>
      <button type="submit"
              [disabled]="!reservationForm.form.valid || isHoursConflictExists() ||
               (getTimeDifference() < 30 && getTimeDifference() > 0) ||
               (user === undefined) ||
               (reservationType === undefined)"
              class="btn btn-info" (click)="onSubmit();modal.close('Save click')">Submit
      </button>
    </form>
  </div>
</ng-template>

<button (click)="open(content)" class="btn btn-lg btn-outline-primary mr-5 mt-1 float-right">Add reservation</button>
