<div class="bg-light-blue text-light min-vh-100 p-4">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h1>Menu</h1>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a class="nav-link text-light h4" routerLink="/reservations">Reservations</a>
      </li>
      <li class="active">
        <a class="nav-link text-light h4" routerLink="/weather">Weather</a>
      </li>
      <li *ngIf="isUserEmployee()" class="active">
        <a class="nav-link text-light h4" routerLink="/email">Email</a>
      </li>
      <li class="active">
        <a class="nav-link text-light h4" routerLink="/user">User settings</a>
      </li>
    </ul>
  </nav>
</div>
