<div class="container-fluid bg-light min-vh-100">
  <div class="row min-vh-100">
    <div class="col-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 p-0">

      <app-headbar></app-headbar>

      <div class="col-12 p-5">
        <div *ngFor="let error of getErrors()" class="alert alert-danger alert-dismissible">
          {{ error[1] }}
          <button (click)="removeError(error[0])" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br/>
        <div class="modal-content">
          <router-outlet></router-outlet>
          <br/>
          <div class="modal-content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

