<div class="container-fluid bg-light min-vh-100">
  <div class="row min-vh-100">
    <div class="col-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 p-0">

      <app-headbar></app-headbar>

      <div class="col-12 p-5">
<!--        <div class="modal-content">-->
<!--          <div class="container">-->
<!--            <ul class="nav nav-pills">-->
<!--              <li><a routerLinkActive="active" routerLink="/home">Home</a></li>-->
<!--              <li><a routerLinkActive="active" routerLink="/login">Login</a></li>-->
<!--              <li><a (click)="logout()">Logout</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="container">-->
<!--            <router-outlet></router-outlet>-->
<!--          </div>-->
<!--        </div>-->
        <br />
        <div class="modal-content">
          <app-reservations [loggedUser]="getUser(false)"></app-reservations>
          <app-reservations [loggedUser]="getUser(true)"></app-reservations>
        </div>
      </div>
    </div>
  </div>
</div>
