<div class="m-5">
  <form #f="ngForm" (ngSubmit)="f.form.valid && login()" *ngIf="!isUserLogged()" name="form" novalidate>
    <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label>
        <input #username="ngModel"
               [(ngModel)]="user.name" name="username"
               placeholder="Username"
               required
               type="text"/></label>
      <div *ngIf="f.submitted
          && !username.valid" class="alert alert-danger">Username is required
      </div>
    </div>
    <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label>
        <input #password="ngModel"
               [(ngModel)]="user.password" name="password"
               placeholder="Password"
               required
               type="password"/></label>
      <div *ngIf="f.submitted
          && !password.valid" class="alert alert-danger">Password is required
      </div>
    </div>
    <div>
      <button class="btn-primary btn">Login</button>
    </div>
  </form>
  <br/>
  <button (click)="logout()" *ngIf="isUserLogged()" class="btn-primary btn">Logout</button>
</div>
